.forecast {
  padding: 40px 0 5px;
  height: max-content;
  grid-column: 2/3;
  z-index: 1;
  opacity: 0.8;
}

.forecast__container {
  width: 100%;
  margin-bottom: 25px;
}

.forecast__h2 {
  margin-right: 18px;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
}

.forecast__nav {
  display: inline-block;
}

.forecast__btn {
  margin-right: 12px;
  font-size: 20px;
  font-weight: 700;
  color: var(--support-color);
  background: transparent;
  border: none;
  position: relative;
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.forecast__btn::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--main-color);
  bottom: -6px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.forecast__btn.btn-active {
  color: var(--main-color);
}

.forecast__btn.btn-active::after {
  transform: scaleX(1);
}

.forecast__wrapper-carousel {
  min-height: 141px;
}

.forecast__list {
  display: none;
  justify-content: space-between;
  margin-bottom: 0;
}

.forecast__list.forecast__list--active {
  max-width: 720px;
  display: flex;
  overflow-x: hidden;
}

.forecast__card {
  width: 100px;
  min-height: 141px;
  padding: 15px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8.362px;
  background-color: var(--bg-support-color);
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease, opacity 0.3s ease;
  animation: 2s alternate appearingCard;
  animation-iteration-count: 1;
}

.forecast__card:last-of-type {
  margin-right: 0;
}

@keyframes appearingCard {
  0% {
   opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.forecast__h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}

.forecast__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.forecast__temp-wrapper {
  display: flex;
  flex-direction: row;
  gap: 18px;
  line-height: normal;
}

.temp {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: min-content;
}

.temp:last-of-type {
  color: var(--support-color);
  transition: color 0.3s ease;
}

.forecast__nav-slider {
  position: relative;
}

.btn-slider-next,
.btn-slider-prev {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-slider-next:disabled,
.btn-slider-next:disabled:hover,
.btn-slider-prev:disabled,
.btn-slider-prev:disabled:hover {
  opacity: 0.3;
  transform: scale(1);
  cursor: not-allowed;
}

.btn-slider-next:hover,
.btn-slider-prev:hover {
  transform: scale(1.1);
}

.btn-slider-next:active,
.btn-slider-prev:active {
  transform: scale(1);
}

#prev,
#next {
  display: inline-block;
  position: absolute;
  top: 50px;
  margin: 0;
  padding: 0;
  height: max-content;
}

#prev {
  left: -66px;
}

#next {
  right: -66px;
}

#prev svg circle,
#next svg circle {
  fill: var(--bg-support-color);
  transition: fill 0.3s ease;
}

.forecast__mobile {
  display: none;
}

@media (max-width: 1439px) {
  .forecast {
    width: 100%;
    padding: 0;
    padding-top: 60px;
    grid-column: 2/3;
    margin-bottom: 25px;
  }

  .forecast__header {
    display: flex;
  }

  .forecast__h2 {
    margin-right: 25px;
  }

  .forecast__nav {
    display: flex;
    gap: 4px;
  }

  #prev {
    left: -50px;
  }

  #next {
    right: -50px;
  }

  .forecast__list {
    overflow-x: hidden;
  }
  .forecast__list.forecast__list--active {
    max-width: 100%;
    overflow-x: hidden;
  }

  .forecast__card:last-of-type {
    display: flex;
  }
}

@media (max-width: 850px) {
  .forecast__card {
    margin-right: 0px;
  }
}

@media (max-width: 833px) {
  .forecast {
    padding: 48px 60px 10px;
  }

  .forecast__container {
    min-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  .forecast__h2 {
    display: block;
    text-align: center;
    margin: 0;
    margin-bottom: 29px;
  }

  .forecast__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .forecast__btn {
    margin: 0;
    position: relative;
    right: 10px;
  }

  .forecast__btn:last-of-type {
    left: 10px;
  }

  .btn-slider-next,
  .btn-slider-prev {
    display: none;
  }

  .forecast__wrapper-carousel {
    display: none;
  }

  .forecast__mobile {
    display: flex;
  }

  .forecast__list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .forecast__card {
    display: flex;
    width: 100px;
    height: 141px;
    margin-bottom: 22px;
  }

  .forecast__card:last-of-type {
    display: flex;
  }
}

@media (max-width: 350px) {
  .forecast {
    padding-left: 30px;
    padding-right: 30px;
  }
}
