.side-bar {
  min-height: 720px;
  grid-column: 1/2;
  padding: 40px;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-support-color);
  background-image: url("/public/img/clouds.png");
  background-position: top 111px center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: difference;
  position: relative;
  transition: background-color 0.3s ease;
}

.side-bar__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}

.btn {
  font-weight: 700;
  font-size: 18px;
  padding: 14px 25px;
  color: var(--main-color);
  border-radius: 10px;
  border: 2px solid var(--support-color);
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease-in-out, transform 0.3s ease;
}

.btn-search {
  align-self: self-start;
}

.btn-search:focus {
  background-color: var(--bg-color);
}

.btn-search:hover {
  background-color: var(--bg-color);
}

.btn-search:active {
  transform: scale(0.95);
}

.side-bar .temp {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 13px;
  transition: color 0.3s ease;
}

.number {
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  margin-right: 14px;
}

.weather-status {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 14px;
  transition: color 0.3s ease;
}

.weather-desc,
.side-bar__date-wrapper,
.location {
  font-size: 18px;
  color: var(--support-color);
}

.weather-desc {
  margin-bottom: 78px;
}

.side-bar__date-wrapper {
  display: flex;
  gap: 95px;
  margin-bottom: 24px;
}

.location {
  display: flex;
  align-items: center;
  min-width: 155px;
  gap: 12px;
}

.side-bar__search-menu {
  /* min-width: max-content; */
  display: flex;
  flex-direction: column;
  padding: 45px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transform: translateX(-700px);
  background-color: var(--bg-support-color);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.active {
  opacity: 1;
  transform: translateX(0);
}

.side-bar__search-wrapper {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.close {
  background: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 45px;
  transition: transform 0.3s ease;
}

.close:focus,
.close:focus-visible {
  transform: scale(1.1);
}

.close:hover {
  transform: scale(1.15);
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
}

.close:active {
  transform: scale(1);
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
}

.close svg path {
  fill: var(--main-color);
}

.side-bar__label {
  position: relative;
}

.side-bar__input {
  max-width: 250px;
  flex-shrink: 2;
  font-weight: 500;
  font-size: 18px;
  padding: 15px 27px 15px 50px;
  color: var(--main-color);
  border-radius: 10px;
  border: 2px solid var(--support-color);
  background: transparent;
  cursor: pointer;
  background-image: url("/public/img/search-icon.png");
  background-position: center left 17px;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-right: 22px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.side-bar__btn-search {
  max-width: max-content;
  text-align: center;
  padding: 15px 20px;
  transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.side-bar__btn-search:disabled,
.side-bar__input:disabled,
.side-bar__btn-search:disabled:hover,
.side-bar__input:disabled:hover
.side-bar__btn-search:disabled:active,
.side-bar__input:disabled:active {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: transparent;
  transform: scale(1);
}

.side-bar__input:focus,
.side-bar__btn-search:focus {
  outline: 0;
  background-color: var(--bg-color);
}

.side-bar__input:hover,
.side-bar__btn-search:hover {
  background-color: var(--bg-color);
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
}

.side-bar__btn-search:active {
 transform: scale(0.95);
}

.no-valid {
  outline: 1px solid #bb1313;
}

.warning {
  font-size: 12px;
  color: var(--main-color);
  font-weight: 700;
  line-height: 100%;
  color: #bb1313;
}

@media (max-width: 1439px) {
  .side-bar {
    padding: 52px 30px 35px;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: top 35% center;
  }
  .side-bar__search-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .side-bar__input {
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .side-bar img {
    margin-top: auto;
    margin-bottom: auto;
  }

  .warning {
    transform: translateY(-10px);
  }
}

@media (max-width: 833px) {
  .side-bar {
    justify-content: start;
    padding: 30px;
    padding-bottom: 34px;
    max-width: 100%;
    margin: 0;
    background-position: top 15% center;
    min-height: max-content;
  }

  .btn-search {
    margin-bottom: 5px;
  }

  .side-bar img {
    margin: 0;
  }

  .side-bar .temp {
    margin-bottom: 23px;
  }

  .number {
    line-height: 66px;
  }
}
