.container {
  display: flex;
  flex-direction: column-reverse;
}

.item {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: var(--main-color);
  padding: 26px 30px 26px 28px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.item span {
  padding-right: 10px;
  /* word-break: break-all; */
}

.item svg {
  width: 11px;
  height: 15px;
  flex-shrink: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.item:hover, .current {
  background-color: var(--bg-color);
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.05);
}

.current:hover {
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.15);
}

.item:hover svg, .current svg {
  opacity: 1;
}
