.video {
  position: absolute;
  top: 0;
  left: 0;
  /* right: 0;
  bottom: 0; */
  height: 100%;
}

@media (max-width: 1439px) {
  .video {
    height: 120%;
  }
}

@media (max-width: 833px) {
  .video {
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0;
    bottom: 0; */
    height: 100%;
  }

}
